body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: regular;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}
h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
}
h2 {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}
footer {
  background-color: #2e2f42;
}
address {
  font-style: normal;
}
.add-ress {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: regular;
}
.add-ress:hover {
  color: #404bbf;
}
.add-ress:focus {
  color: #404bbf;
}
.button-tx {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
}
.button-tx:hover {
  background-color: #404bbf;
}
.button-tx:focus {
  background-color: #404bbf;
}
.nav-link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}
.nav-link:hover {
  color: #404bbf;
}
.nav-link:focus {
  color: #404bbf;
}
.title {
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
}
.section {
  background-color: #2e2f42;
}
.sec-twop {
  letter-spacing: 0.02em;
  color: #434455;
}
.sec-fourp {
  letter-spacing: 0.02em;
  color: #434455;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-p {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.sec-threeh {
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.sec-three {
  background-color: #ffffff;
}
.team {
  background-color: #f4f4fd;
}
.logo .span-logo {
  color: #2e2f42;
}
span {
  color: #2e2f42;
}
header {
  background-color: #e7e9fc;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #4d5ae5;
  text-transform: uppercase;
}
.footer-logo-p {
  color: #f4f4fd;
}
